<!DOCTYPE html>
<html lang="en" xml:lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Auth Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <!-- Home link is always displayed -->
                            <a href="{{ url_for('main.index') }}" class="navbar-item">
                                Home
                            </a>
                            {% if not config.TESTING %}  <!-- Disable navbar in test mode -->
                            <!-- Only show Profile link if user is authenticated -->
                            {% if current_user.is_authenticated and current_user.role == 1 %}
                                <a href="{{ url_for('main.profile') }}" class="navbar-item">
                                    Profile
                                </a>
                                <a href="{{ url_for('main.ve_account') }}" class="navbar-item">
                                    VE Account
                                </a>
                            {% endif %}
                            
                            <!-- Only show VE Profile link to authenticated VE accounts -->
                            {% if current_user.is_authenticated and current_user.role == 2 %}
                                <a href="{{ url_for('main.ve_account') }}" class="navbar-item">
                                    VE Profile
                                </a>
                            {% endif %}
                            <!-- Show Login and Signup links only if user is NOT authenticated -->
                            {% if not current_user.is_authenticated %}
                                <a href="{{ url_for('auth.login') }}" class="navbar-item">
                                    Login
                                </a>
                                <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                                    Sign Up
                                </a>
                            {% endif %}

                            <!-- Show Logout link only if user is authenticated -->
                            {% if current_user.is_authenticated %}
                                <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                    Logout
                                </a>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                <!-- Flash messages -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="notification is-danger">
                            {% for category, message in messages %}
                                <p class="is-size-5">{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}

                {% block content %}
                {% endblock %}
            </div>
        </div>
    </section>
</body>
</html>
