{% extends "base.html" %}

{% block content %}
<div class="box">
    <!-- Exam question container -->
    <div class="columns is-centered">
        <div class="column is-half">
            <!-- Diagram (if available) -->
            {% if diagram %}
                <figure class="image is-4by3">
                    <img src="{{ url_for('static', filename='images/'+diagram.path) }}" alt="{{ diagram.name }}">
                </figure>
            {% endif %}

            <!-- Question -->
            <h1 class="is-1 has-text-left">Question ID: {{ question.number }}, References: {{ question.refs }}</h1>
            <h2 class="title is-5 has-text-left">Q{{ current_index + 1 }}: {{ question.question }}</h2>
            <!-- Answer options -->
            <form action="{{ url_for('main.take_exam', exam_id=exam.id, index=current_index) }}" method="POST">
                {% if config['WTF_CSRF_ENABLED'] %}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                {% endif %}
                <input type="hidden" name="question_number" value="{{ answer.question_number }}">

                <div class="control">
                    {% for option in ['A', 'B', 'C', 'D'] %}
                        <label class="radio">
                            <input type="radio" name="answer" value="{{ loop.index0 }}"
                                {% if answer.answer == loop.index0 %}checked{% endif %}>
                            {{ option }}. {{ question['option_' + option.lower()] }}
                        </label><br>
                    {% endfor %}
                </div>

                <!-- Navigation buttons -->
                <br>
                <div class="buttons is-centered">
                    <button type="submit" name="back" class="button is-light-button-color"
                        {% if current_index == 0 %}disabled{% endif %}>
                        Back
                    </button>
                    <button type="submit" name="next" class="button is-button-color"
                        {% if current_index == total_questions - 1 %}disabled{% endif %}>
                        Next
                    </button>
                    <button type="submit" name="review" class="button is-light-button-color">
                        Review
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
