{% extends "base.html" %}

{% block content %}
<div class="column is-8 is-offset-2">
    <div class="box">
        <h3 class="title has-text-centered has-text-dark">Password Resets</h3>

        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr>
                    <td>{{ account.username }}</td>
                    <td>
                        <form action="{{ url_for('auth.reset_password', account_id=account.id) }}" method="post" id="reset-password-form-{{ account.id }}">
                            {% if config['WTF_CSRF_ENABLED'] %}
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            {% endif %}
                            
                            {% if account.username != current_user.username %}
                            <button class="button is-small is-warning reset-btn" data-username="{{ account.username }}" data-account-id="{{ account.id }}">
                                Reset Password
                            </button>
                            {% endif %}
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="field is-grouped is-grouped-centered">
            <a href="{{ url_for('main.index') }}" class="button is-button-color">Back to Home</a>
        </div>
    </div>
</div>

<script nonce="{{ g.csp_nonce }}">
    document.querySelectorAll('.reset-btn').forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault();

            const accountId = this.getAttribute('data-account-id');
            const username = this.getAttribute('data-username');
            if (confirm("Are you sure you want to reset the password for " + username + "?")) {
                document.getElementById('reset-password-form-' + accountId).submit();
            }
        });
    });
</script>

{% endblock %}
