{% extends "base.html" %}

{% block content %}
<div class="column is-6 is-offset-3">
    <div class="box">
        <h3 class="title has-text-centered has-text-dark">OpenWaves VE Profile</h3>
        <form id="ve-profile-form">
            {% if config['WTF_CSRF_ENABLED'] %}
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            {% endif %}
            <div class="field">
                <label class="label" for="username">Callsign</label>
                <div class="control">
                    <input class="input is-large" type="text" name="username" id="username" value="{{ current_user.username }}" readonly>
                </div>
            </div>

            {% include 'form_profile.html' %}

            {% include 'form_passwords.html' %}
        </form>
    </div>
</div>

<script nonce="{{ g.csp_nonce }}">
    document.getElementById('edit-button').addEventListener('click', function() {
        var inputs = document.querySelectorAll('#ve-profile-form input');
        inputs.forEach(input => input.removeAttribute('readonly'));
        document.getElementById('save-button').style.display = 'inline';
        document.getElementById('new-password-field').style.display = 'block';
        document.getElementById('confirm-password-field').style.display = 'block';
        this.style.display = 'none';
    });

    document.getElementById('ve-profile-form').addEventListener('submit', async function(e) {
        e.preventDefault();
        var formData = new FormData(this);

        // Send the updated data to the server via AJAX
        const response = await fetch('/auth/update_profile', {
            method: 'POST',
            body: formData,
        });

        if (response.ok) {
            alert('VE profile updated successfully!');
            location.reload();
        } else {
            alert('There was an error updating the VE profile.');
        }
    });
</script>
{% endblock %}
