{% extends "base.html" %}

{% block content %}
<div class="column is-6 is-offset-3">
    <div class="box">
        <h3 class="title has-text-centered has-text-dark">VE Account Signup</h3>
        <form method="POST" action="{{ url_for('auth.ve_signup') }}">
            {% if config['WTF_CSRF_ENABLED'] %}
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            {% endif %}

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="username" placeholder="Callsign" required>
                </div>
            </div>

            {% include 'form_registration_data.html' %}

            <div class="field is-grouped is-grouped-centered">
                <button type="submit" class="button is-button-color is-large">Create VE Account</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
