.hero {
    background-color: #1F2D38;
    background-image: url('../images/background.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.navbar {
    background-color: #1F2D38;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.navbar-item {
    color: white;
}

footer {
    background-color: #1F2D38;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.hero-body {
    padding-top: 4rem;  /* To prevent content from overlapping with navbar */
    padding-bottom: 4rem; /* To prevent content from overlapping with footer */
}

.is-button-color {
    background-color: #8297A4;
    color: white;
    border-color: transparent;
}

.is-button-color:hover {
    background-color: #262C37;
}

.is-light-button-color {
    background-color: #98cae9;
    color: white;
    border-color: transparent;
}

.is-light-button-color:hover {
    background-color: #262C37;
}

#new-password-field, #confirm-password-field, #save-button {
    display: none;
}